
<%= simple_form_for @raffle do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, label: 'Título' %>
    <%= f.input :description, label: 'Descrição' %>
    <%= f.input :initial_draw_date, label: 'Data prevista para o sorteio' %>
    <%= f.input :start_sale_date, label: 'Data de início das vendas' %>
    <%= f.input :end_sale_date, label: 'Data de fim das vendas' %>
    <%= f.input :ticket_price, label: 'Valor do bilhete' %>
    <%# <%= f.association :kind, collection: Kind.all.map { |k| [k.description, k.id] }, label: 'Tipo' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, f.object.new_record? ? 'Criar Rifa' : 'Atualizar Rifa', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
