<% content_for :title do %>
  Detalhes da Rifa
<% end %>

<div class="page-header">
  <h1>Detalhes da Rifa</h1>
  <div>
    <%= link_to edit_raffle_path(@raffle), class: 'btn btn-success' do %>
      <%= icon 'fas', 'edit' %>
      Editar
    <% end %>
    <%= link_to raffles_path, class: 'btn btn-outline-secondary' do %>
      <%= icon 'fas', 'bars' %>
      Voltar
    <% end %>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Título:</dt>
  <dd><%= @raffle.title %></dd>

  <dt>Descrição:</dt>
  <dd><%= @raffle.description %></dd>

  <dt>Sorteio previsto para:</dt>
  <dd><%= @raffle.initial_draw_date&.to_s(:br_format) %></dd>

  <dt>Início das vendas em:</dt>
  <dd><%= @raffle.start_sale_date&.to_s(:br_format) %></dd>

  <dt>Fim das vendas em:</dt>
  <dd><%= @raffle.end_sale_date&.to_s(:br_format) %></dd>

  <dt>Sorteado em:</dt>
  <dd><%= @raffle.draw_date&.to_s(:br_format) %></dd>

  <dt>Valor do bilhete:</dt>
  <dd><%= @raffle.ticket_price %></dd>

  <dt>Usuário:</dt>
  <dd><%= @raffle.user.name %></dd>

  <dt>Tipo:</dt>
  <dd><%= @raffle.kind.description %></dd>

</dl>
